@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-6xl font-black leading-tight mb-8;
    color: #f48705;
  }
  h2 {
    @apply text-5xl font-black leading-tight mb-4;
    color: #f48705;
  }
  h3 {
    @apply text-3xl font-black leading-tight;
    color: #f48705;
  }
  h4 {
    @apply text-xl font-black leading-tight;
    color: #f48705;
  }
  a {
    @apply underline;
    color: #f48705;
  }
  a:hover {
    color: #f5b004;
  }
}
